img{
    float: right;
    width: 15em;
    margin-top: 2.8em;
}

.details{
    max-width: 50em;
    margin: 5em auto;
}

.details .title{
    padding-bottom: 0.5em;
}

.details .content{
    padding-bottom: 1.2em;
}

.details a{
    display: inline-block;
    text-decoration: none;
    color: orange;
    border: 2px solid orange;
    border-radius: 0.2em;
    padding: 0.4em;
}

.details a:hover{
    background-color: orange;
    color: white;
}


